.icon-bar {
    width: 90px; /* Set a specific width */
    background-color: red; /* Dark-grey background */
}

.custom-btn {
    height: 50px;
}

.marg-right{
    float: right;
}

.bg-custom {
  background-color: #181818 !important;
}

.bg-bar {
  background-color: #333333 !important;
}

.mr-10 {
  margin-right: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.clear {
  clear:both;
}

.slider-selection {
	background: #BABABA;
}

.slider.slider-horizontal {
	width: 100%
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.slider.slider-horizontal .tooltip.tooltip-main.in,
.slider.slider-vertical .tooltip.tooltip-main.in { opacity: 1 !important; }


.center-fit {
  min-width: 100% !important;
  min-height: 100% !important;
  max-width: 100% !important;
  max-height: 100vh !important;
  margin: auto !important;
}

body {
  background: #181818;
  background-image: radial-gradient(#333333 5%, transparent 0);
  background-size: 30px 30px;
  font-family: 'roboto_mediumregular';
  font-size: 14px;
}

.bg-servo {
  background: #00000079;
}

.rotate {
  transform: rotate(180deg);
  z-index:-1;
}

.switch input { 
  display:none;
}
.switch {
  display:inline-block;
  width:60px;
  height:30px;
  margin:8px;
  transform:translateY(50%);
  position:relative;
}

.slider1 {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius:30px;
  box-shadow:0 0 0 2px #ffffff, 0 0 4px #ffffff;
  cursor:pointer;
  border:4px solid transparent;
  overflow:hidden;
   transition:.4s;
}
.slider1:before {
  position:absolute;
  content:"";
  width:100%;
  height:100%;
  background: #ffffff;
  border-radius:30px;
  transform:translateX(-30px);
  transition:.4s;
}

input:checked + .slider1:before {
  transform:translateX(30px);
  background:limeGreen;
}
input:checked + .slider1 {
  box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}
.slider1.slider1-horizontal{
  width:50px !important;
  }

.slider.slider-horizontal{
  width:800px !important;
  }